* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: #ECE9FD;
  font-family: 'Epilogue', sans-serif;
}

.page {
  max-width: 33.0rem;
  margin: 0 auto ;
}

h3 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;

  letter-spacing: 3px;
  text-transform: uppercase;

  color: rgba(10, 0, 57, 0.64);
  
  margin:6.0rem 0 1.7rem 0;
}

h1 {
  font-weight: 800;
  font-size: 4.0rem;
  line-height: 4.8rem;

  color: #090039;

  margin-bottom: 1.7rem;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;

  color: rgba(10, 0, 57, 0.64);

  margin-bottom: 3.2rem;
}

a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;

  color: #090039;

  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

ul {
  margin-top: 7.2rem;
  list-style: none;

  display: flex;
  flex-direction: column;

  gap: 3.2rem;
}

ul li {
  max-width: 30.rem;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #090039;

  display: flex;
  gap: 3.8rem;
  
}

ul li span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8.0rem;

  letter-spacing: -2px;

  color: #090039;
}